// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


$col-day-color: #ffffff;
$col-weekend-day-color:#D5D9DE;
$col-header-day-color:#d5e1ed;
$col-header-weekend-day-color:#bfc2c5;
$row-headers-background-color: #d5e1ed;

$hover-color: #c7cacf;

$date-cell-size: 50px;
$header-column-width: 150px;
